streamlit
python-dotenv
openai-whisper
yt-dlp>=2025.1.15
ffmpeg-python
agno
groq
chromadb
langchain
langchain-community
langchain-text-splitters
sentence-transformers
streamlit-mic-recorder
pypdf
tiktoken
numpy
pandas
torch
torchaudio
torchvision
youtube-transcript-api
protobuf==3.20.3