streamlit
python-dotenv
openai-whisper
yt-dlp
ffmpeg-python
agno
groq
chromadb
langchain
sentence-transformers
streamlit-mic-recorder
pypdf
tiktoken
numpy
pandas
torch
torchaudio
torchvision
youtube-transcript-api